{% extends 'base.html' %}



{% block content %}
<div class="container">
  <h1 class="display-2">{{ poll.title }}</h1>

  
  {% for o, percentage in options %}
    <div class="progress mb-3" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="height: 4rem">
      <div class="progress-bar bg-success " style="width: {{ percentage }}%">{{ percentage }}</div>
    </div>
  {% endfor %}
    

</div>
{% endblock content %}
    

