{% extends 'base.html' %}



{% block content %}
<div class="container">
  <h1 class="display-2">{{ poll.title }}</h1>

  
  <form method="POST" class="d-flex flex-column">
    {% csrf_token %}
    {% for o, percentage in options %}
      <button name="option", value="{{ o.id }}" type="submit" class="progress mb-3 btn btn-info flex-fill" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="height: 4rem">
        <div class="progress-bar bg-success rounded" style="width: {{ percentage }}%">{{ percentage }}</div>
      </button>

    {% endfor %}
  </form>
    

</div>
{% endblock content %}
    

