:root {
    --primary-color: #3498db;
    --text-color: #ffffff;
    --bg-color: #272727;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.portfolio-image {
    height:250px;
    width:250px;
    border-radius:50%;
    overflow:hidden;
}