<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Portal-Group</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'list-project' %}">Projects</a></li>
              <li><a class="dropdown-item" href="{% url 'list-portfolio' %}">Portfolios</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'gradesheet' %}">Gradesheets</a></li>
              <li><a class="dropdown-item" href="{% url 'list-poll' %}">Polls</a></li>
            </ul>
          </li>
        </ul>
      </div>

      {% if user.is_authenticated %}
      <div class="mb-auto">
        <form method="POST" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-lg btn-danger">Logout</button>
        </form>
      </div>


      {% else %}
      <div class="mb-auto">
        <a href="{% url 'login' %}" class="btn btn-lg btn-primary">Login</a>
        <a href="{% url 'register' %}" class="btn btn-lg btn-info">Sign up</a>
      </div>

      {% endif %}

    </div>
  </nav>